* {
    padding: 0px;
    margin: 0px;
}

*::selection {
    color: rgb(51, 51, 51);
    background-color: rgb(211, 211, 211);
}

body {
    display: flex;
    background-color: rgb(211, 211, 211);
    color: rgb(211, 211, 211);
    font-family: 'Rubik', sans-serif
}

h1,
h2 {
    font-family: 'Spectral', serif;
    color: rgb(255, 255, 255);
}

.sidebar {
    padding: 0.5rem;
    height: 99vh;
    max-width: 7vh;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;

}

.sidebar-logo {
    width: 5rem;
    max-width: 15vh;
}

li {
    list-style-type: none;
}

.sidebar-links-list li a img {
    width: 100%;
}

main {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;

}

.container {
    background-image: url(../img/bg/2.jpg);
}

.navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    transition: 200ms;
    height: 6rem;
}

.navigation-list:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    transition: 200ms;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 20px rgb(255, 255, 255);
}


.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 3rem;
    line-height: 64px;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 16px;
    margin-bottom: 3rem;
}

.introduction-text {
    transition: 200ms;
    padding: 5rem;
    border-radius: 0.3rem;
}

.introduction-text:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.introduction-image {
    margin-bottom: -1rem;
}

.about {
    display: flex;
    padding: 4rem;
    background: linear-gradient(280deg, rgba(211,211,211,1) 50%, rgba(83,83,83,1) 50%);
    justify-content: space-between;
    align-items: flex-start;
}

.about-text {
    padding: 8rem;
    border-radius: 0.3rem;
    transition: 200ms;
    border-bottom: 5px solid rgb(211, 211, 211);
    max-width: 30%;
}   

p {
    line-height: 28px;
}

.about-text:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.skills-text {
    padding: 8rem;
    border-radius: 0.3rem;
    transition: 200ms;
    border-top: 5px solid rgba(83,83,83,1);
    max-width: 30%;
    color: rgba(83,83,83,1);
    padding-bottom: 13.3rem;
}

.skills-text h2 {
    color: rgb(51, 51, 51);
}

.skills-text:hover {
    background-color: rgb(255, 255, 255);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: rgb(83, 83, 83);
    transition: 200ms;

}

.contact p {
    line-height: 28px;
}

.contact:hover {
    background-color: rgba(0, 0, 0, 0.95);
}

.contact-button {
    width: 8rem;
    height: 3rem;
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.3rem;
    font-family: 'Rubik', sans-serif;
    line-height: 28px;
    font-weight: 400;
    transition: 200ms;
}

.contact-button:hover {
    transform: scale(110%);
    box-shadow:  0px 1px 8px rgb(255, 255, 255);
}

.copyrights {
    line-height: 28px;
    padding: 1rem;
    margin: 0 auto;
    color: rgba(83,83,83,1);
}