/* General Settings */

* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

*::selection {
    color: rgb(51, 51, 51);
    background-color: rgb(211, 211, 211);
}

body {
    display: flex;
    background-color: rgba(211, 211, 211, 0);
    color: rgb(211, 211, 211);
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);

}

/* Sidebar */

.sidebar {
    padding: 0.1%;
    height: 100%;
    width: 3%;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.sidebar-logo {
    width: 100%;
}

li {
    list-style-type: none;
}

.sidebar-links-list li a img {
    width: 100%;
    display: inline-block;
    transition: 400ms;
}

.sidebar-links-list li a img:hover {
    transform: translate(10px, 0px);
}

/* Main Content */

main {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}

/* Header and Navigation Bar */

.container {
    background-image: url(../img/bg/2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    transition: 600ms;
    height: 6rem;
}

.navigation-list:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    transition: 400ms;
    display: inline-block;

}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    transform: translate(0, -10px);
}

nav ul li a:active {
    transform: scale(95%);
}

/* Introduction and Main Photo */

.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 600ms;
}

h1 {
    font-size: 3rem;
    line-height: 64px;
    margin-bottom: 2rem;
    transition: 600ms;

}

h2 {
    font-size: 2.5rem;
    line-height: 44px;
    margin-bottom: 2rem;
    transition: 600ms;

}

p {
    line-height: 28px;
    transition: 600ms;

}

.introduction-text {
    transition: 600ms;
    padding: 5rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction-text:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.introduction-image {
    margin-bottom: -1rem;
    transition: 600ms;
}

.small-image {
    display: none;
}

/* Second Part - About and Skills */

.about {
    display: flex;
    padding: 4rem;
    background: linear-gradient(280deg, rgba(211, 211, 211, 1) 50%, rgba(83, 83, 83, 1) 50%);
    justify-content: space-between;
    align-items: stretch;
    transition: 600ms;
}

.about-text {
    padding: 7%;
    border-radius: 0.3rem;
    transition: 600ms;
    border-bottom: 10px solid rgb(211, 211, 211);
    max-width: 30%;
}

.about-text:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.skills-text {
    padding: 7%;
    border-radius: 0.3rem;
    transition: 600ms;
    border-top: 10px solid rgba(83, 83, 83, 1);
    max-width: 30%;
    color: rgba(83, 83, 83, 1);
}

.skills-text h2 {
    color: rgb(51, 51, 51);
}

.skills-text:hover {
    background-color: rgb(255, 255, 255);
}

/* Contact Me Part and Button */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: rgb(83, 83, 83);
    transition: 600ms;
}

.contact p {
    line-height: 28px;
    text-align: center;
}

.contact:hover {
    background-color: rgba(0, 0, 0, 0.95);
}

.contact-button {
    width: 8rem;
    height: 3rem;
    margin-top: 3rem;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 400;
    transition: 400ms;
    position: relative;
    color: rgb(83, 83, 83);
}

.contact-button:hover {
    transform: translate(0, -10px);
    color: rgba(0, 0, 0, 0.95);
}

.contact-button:active {
    transform: scale(95%);
}

.copyrights {
    color: rgba(83, 83, 83, 1);
    background-color: rgb(211, 211, 211);
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.copyrights-links {
    display: none;
}

/* Responsive Design Settings */

@media only screen and (max-width: 1150px) {

    .introduction-image {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5rem solid rgba(211, 211, 211, 1);
        margin-bottom: 4rem;
    }

    .big-image {
        display: none;
    }

    .small-image {
        display: inline;
        width: 400px;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(180deg, rgba(83, 83, 83, 1) 56%, rgba(211, 211, 211, 1) 10%);
        padding: 0;
        margin: 0;
    }

    .about-text {
        border-right: 10px solid rgb(211, 211, 211);
        background-color: rgba(83, 83, 83, 1);
        border-bottom: none;
        max-width: 100%;
        margin: 2rem;
    }

    .skills-text {
        border-left: 10px solid rgba(83, 83, 83, 1);
        background-color: rgba(211, 211, 211, 1);
        border-top: none;
        max-width: 100%;
        margin: 2rem;
    }
}

@media only screen and (max-width: 810px) {
    main {
        margin-left: 0px;
        position: relative;
    }

    .sidebar {
        display: none;
    }

    h1 {
        font-size: 2rem;
        line-height: 40px;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 1rem;
    }

    p {
        font-size: 0.8rem;
        line-height: 22px;
    }

    a {
        font-size: 0.8rem;
    }

    nav ul li a:hover {
        color: inherit;
        transform: translate(0, 0px);
    }

    .contact-button {
        font-size: 0.8rem;
    }

    .contact-button:hover {
        transform: translate(0, 0px);
        color: rgb(83, 83, 83);
    }

    .copyrights {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .copyrights-links {
        display: inline;
    }

    .copyrights-links-list {
        display: flex;
    }

    .copyrights-links-list li {
        margin: 0.2rem;
    }

    .copyrights-links-list li a img {
        width: 28px;
        transition: 600ms;
    }
}